head
  title='Frontend Boilerplate'
  //- Vendor Scripts
  script(src='vendor.js' type='text/javascript').
  //- Font
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Mono:400,700")
  //- Styles
  link(rel='stylesheet', href='main.css')