
doctype html
html(lang="en")
  include base/head.pug
  // Body
  body
    include blocks/header.pug

    main#barba-wrapper.offset
      div.barba-container(data-namespace='butz')
        h1 ButzView

    include blocks/footer.pug
    