
section.home__grid
  div.home__colum.projects
    - for (var x = 0; x < 3; x++)
      div.column__project
        h2.project__header Project xy
        div.project__thumbaila(style='background-image: url(http://placehold.it/350x150);')
