@import "reset-css/reset";

@import "base/variables";
@import "base/base";
@import "base/typo";

@import "blocks/home/home__grid";
@import "blocks/header/header";

@import "sections/home.css";




main {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 2rem;

  width: 100%;

  & div {
    width: 100%;
  }
}