doctype html
html(lang="en")
  include base/head.pug
  body

    include blocks/header.pug

    main#barba-wrapper.offset
      div.barba-container
        h1 About


    script(src='app.js' type='text/javascript').