doctype html
html(lang="en")
  include base/head.pug
  // Body
  body
    include blocks/header.pug

    main#barba-wrapper.offset
      div.barba-container
        h1 Homepage

    include blocks/footer.pug